<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Nicholas Barnard</string>
		<key>twitter</key>
		<string></string>
		<key>github</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zuri Biringer</string>
		<key>twitter</key>
		<string></string>
		<key>github</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>John Clem</string>
		<key>twitter</key>
		<string></string>
		<key>github</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chad Colby</string>
		<key>twitter</key>
		<string></string>
		<key>github</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spencer Fornaciari</string>
		<key>twitter</key>
		<string></string>
		<key>github</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Raghav Haran</string>
		<key>twitter</key>
		<string></string>
		<key>github</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Brad Johnson</string>
		<key>twitter</key>
		<string></string>
		<key>github</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Timothy Hise</string>
		<key>twitter</key>
		<string></string>
		<key>github</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ivan Lesko</string>
		<key>twitter</key>
		<string></string>
		<key>github</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Richard Lichkus</string>
		<key>twitter</key>
		<string></string>
		<key>github</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Christopher Meehan</string>
		<key>twitter</key>
		<string></string>
		<key>github</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Matt Remick</string>
		<key>twitter</key>
		<string></string>
		<key>github</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Andrew Rodgers</string>
		<key>twitter</key>
		<string></string>
		<key>github</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jeff Schwab</string>
		<key>twitter</key>
		<string></string>
		<key>github</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Steven Stevenson</string>
		<key>twitter</key>
		<string></string>
		<key>github</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Yair Szarf</string>
		<key>twitter</key>
		<string></string>
		<key>github</key>
		<string></string>
	</dict>
</array>
</plist>
